.category{
    margin-bottom: 63px;
    &__filter{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 35px;
        @include for-tablet-landscape-min{
            display: none;
        }
        &-item{
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            padding: 11px 25px;
            background-color: #EFF3F9;
            border-radius: 30px;
            margin-right: 18px;
            margin-bottom: 20px;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__catalog{
        max-width: 1015px;
        flex: 1 1 auto;
        &-top{
            margin-bottom: 42px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &-list{
            display: grid;
            gap: 30px;
            margin-bottom: 35px;
            .short-item{
                margin: 10px auto;
            }
        }
        &-list.row{
            grid-template-columns: repeat(1, 1fr);
            .short-item{
                max-width: 100%;
                width: 100%;
                flex-direction: row;
                display: flex;
                justify-content: space-between;
                height: 350px;
                &__fast-view{
                    display: none;
                }
                &__box{
                    flex: 1 1 50%;
                    margin-right: 30px;
                    height: 250px;
                }
            }
        }
        &-list.grid{
            grid-template-columns: repeat(3, 1fr);
            @include for-desktop{
                grid-template-columns: repeat(2, 1fr);
            }
            @include for-tablet-landscape{
                grid-template-columns: repeat(1, 1fr);
            }
            @include for-tablet-landscape-min{
                grid-template-columns: repeat(2, 1fr);
            }
            @include for-phone{
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &-more{
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 35px;
            color: #437FC8;
            margin-bottom: 9px;
        }
        &-nav{
            margin: 0 auto;
        }
    }
    .catalog-filter{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 1;
        @include for-tablet-landscape-min{
            display: none;
        }
        &__item{
            padding: 11px 36px;
            background-color: #7FB1ED;
            border-radius: 30px;
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            color: #FFFFFF;
            position: relative;
            margin: 0 10px 10px 0;
            &::after{
                content: url('../img/icons/cancel.svg');
                position: absolute;
                right: 15px;
                cursor: pointer;
                top: 12px;
            }
        }
    }
    .catalog-view{
        font-weight: 500;
        font-size: 16px;
        line-height: 35px;
        color: #404040;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include for-tablet-landscape-min{
            justify-content: space-between;
            width: 100%;
        }
        .select{
            &__header--change{
                position: relative;
                padding-right: 16px;
                &::after{
                    content: url('../img/icons/arrow-page-nav-bottom.svg');
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .select__header--change.active{
            &::after{
                transform: rotate(180deg);
                bottom: 0;
            }
        }        
        .popular{
            margin-right: 30px;
        }
        &__num{
            margin-right: 35px;
            @include for-tablet-landscape-min{
                display: none;
            }
            span{
                font-weight: 600;
            }
        }
        &__icon{
            &-row{
                opacity: .5;
                margin-right: 17px;
                width: 21px;
                height: 21px;
                cursor: pointer;
                @include for-tablet-landscape{
                    visibility: hidden;
                }
                img{
                    height: auto;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &-row.active{
                opacity: 1;
            }
            &-grid{
                opacity: .5;
                width: 18px;
                height: 18px;
                cursor: pointer;
                @include for-tablet-landscape{
                    visibility: hidden;
                }
                img{
                    height: auto;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &-grid.active{
                opacity: 1;
            }
        }
        &__filters-btn{
            display: none;
            cursor: pointer;
            @include for-tablet-landscape-min{
                display: flex;
                align-items: center;
            }
            span{
                margin-left: 10px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #FC443B;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
    }  
    .page-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        @include for-tablet-landscape-min{
            display: none;
        }
        &__list{
            display: flex;
            justify-content: center;
            column-gap: 15px;
        }
        &__item{
            font-size: 16px;
            line-height: 35px;
            &--now{
                font-weight: 600;
            }
        }
        &__prev,
        &__next{
            &-img{
                width: 8px;
                height: 8px;
                object-fit: cover;
            }
        }
    }

}

