.deferred-list{
    &__inner{
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(3, 1fr);
        @include for-desktop{
            grid-template-columns: repeat(2, 1fr);
        }
        @include for-phone{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .personal-account__user{
        @include for-tablet-landscape{
            display: none;
        }
    }
}